body {
  font-size: 16px;
  font-family: Verdana, Sans-Serif;
}

.container {
  width: 300px;
  margin: auto;

  h1 {
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    padding: 16px 0;
  }

  ul {
    padding: 0;
    list-style: none;

    li {
      line-height: 1.5;
    }
  }

  input[type="checkbox"] {
    margin-right: 5px;
  }

  input[type="text"] {
    padding: 2px;
    margin-right: 5px;
  }
}

h1 > span {
  color: #ccc;
  font-size: 12px;
  font-weight: normal;
  margin-left: 5px;
}

h1 > button {
  float: right;
}

.cmd {
  font-size: 12px;
  cursor: pointer;
  color: #08c;
  margin-left: 5px;
}

.done {
  text-decoration: line-through;
  color: #ccc;
}
